.layout {
  width: var(--main-width);
  height: 100vh;
  margin: 0px auto;
  position: relative;
  top: 0px;
  padding: 10px;
  overflow-x: hidden;
  overflow-y: hidden;
}

@media (max-width: 768px) {
  .layout {
    width: 100%;
  }
}
