.modalCont {
  width: 100%;
  height: 100vh;
  padding: 0px;
  margin: 0px;
  position: absolute;
  top: 0px;
  right: -1500px;
  background: var(--bg);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1500;
  transition: 0.2s ease;
}

.modalCont.open {
  right: 0px;
}
